<div class="who-are-you-logo">
  <div>
    <img src="../../assets/wikipedia.png" alt="" />
    <img src="../../assets/H.png" alt="" />
    <img src="../../assets/sun.png" alt="" />

    <span>__</span>

    <img src="../../assets/A.png" alt="" />
    <img src="../../assets/R.png" alt="" />
    <img src="../../assets/E.png" alt="" />
  </div>

  <div>
    <img src="../../assets/Y.png" alt="" />
    <img src="../../assets/ours.png" alt="" />
    <img src="../../assets/U.png" alt="" />
  </div>

  <div>
    <img src="../../assets/question-mark.png" alt="" />
  </div>
</div>
