ion-content {
  --background: rgb(247, 162, 65);
  .quiz-page {
    background-color: rgb(247, 162, 65);
    color: white;
    text-align: center;
    padding: 20px;

    .question {
      .img-question {
        margin: 0 auto;
      }
      .question-text {
        font-family: "Luckiest Guy", cursive;
        font-size: 1.4em;
        margin-top: 0;
      }
    }

    .answer-quiz {
      color: black;
      font-family: "Quicksand", sans-serif;
      h2 {
        font-family: "Luckiest Guy", cursive;
      }
      .character-description {
        margin: 10px;
        padding: 5px 50px 5px 50px;
        background-color: rgba($color: #fdfdfd, $alpha: 0.3);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      }
    }

    ion-button {
      transition: 1s ease-out;
      font-family: "Quicksand", sans-serif;
      margin: 10px;
      font-weight: bold;
    }
    ion-button:hover {
      transform: translateY(-0.15rem);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    /* Button color by adding in html : [color]="'color-button'"*/
    .mat-color-button {
      background-color: #fff;
    }
    .responses {
      p {
        font-family: "Quicksand", sans-serif;
      }
    }
  }
}
